# Vite fails to import ajv with svelte-jsoneditor
# so we need to do this to make it work
# ! this is a hack and should be removed when the real issue is fixed
# because this allows to import ajv in packages that doesn't have it as a dependency
public-hoist-pattern[]=ajv

# alternative to the above but enables for all packages
# shamefully-hoist=true